*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500&family=Roboto:wght@400;700;900&display=swap');

.container{
  align-items: center;
    justify-content: center;
    display: flex;
  
}
.container ul{
  margin-top: 10px;
  margin-left: 10px;
  list-style:none;
  min-width: 280px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

  
}
li{
  display: flex;
  align-items: center;
  padding: 10px;
/*   width: 360px; */
 
}
img{
  width: 50px;
  height:50px;
  object-fit: cover;
  border-radius: 50%;
}
h4, p{
  padding-left: 20px;
 
}
h3{
  padding: 15px;
}
p{
  padding-top: 3px;
  font-size: 14px;
  color: hsl(209, 28%, 39%);
  
}
body{
  background-color: #c76a7a;
  font-family: 'Roboto', sans-serif;
}
.container button {
  color: white;
  display: block;
  width: 90%;
  border-color: transparent;
  background: #c76a7a;
  margin: 1rem auto 1rem auto;
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.5rem 0;

  border-radius: 5px;
  outline: 1px solid rgb(254 187 213 / 80%);
  cursor: pointer;
  transition: all .3s ease;
}
button:hover{
  background: black;
  outline: none;
}